body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-right: 122px;
}

div {
    text-align: center;
}

h1 {
    color: #343E48;
    margin-bottom: 36px;
}

p {
    font-size: 18px;
    color: #687087;
    margin-bottom: 52px;
    line-height: 30px;
}

span {
    display: block;
    color: #1e1e1e;
    margin-bottom: 14px;
}

a {
    display: inline-block;
    padding: 23px 21px;
    background-color: ;
}