* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Baloo 2', cursive;
}

.container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    .sherlock {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: #EBECEE;
        padding: 20px 0;
    }

        .sherlock__inner {
            width: 100%;
            /* background-color: salmon; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
            .sherlock__image {
                width: 30%;
                margin-bottom: 30px;
            }

            .sherlock__item {
                padding: 0 10%;
            }

    .item {
        text-align: center;
    }
        .item__title {
            display: inline-block;
            font-size: 64px;
            line-height: 64px;
            font-weight: 700;
            color: #363E49;
            margin-bottom: 15px; 
        }

        .item__subtitle {
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 16px;
            color: #686F8B; 
        }

        .item__text {
            font-size: 14px;
            color: #A6A7AC;
            margin-bottom: 10px;
        }

        .item__btn {
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 23px;
            background-color: #686F8B;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
        }


@media only screen and (min-width: 824px) {
    .item {
        flex: 0 0 50%;
    }
        .item__title {
            font-size: 100px;
            line-height: 100px;
            margin-bottom: 25px;
        }

        .item__subtitle {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 26px;
        }
}

@media only screen and (min-width: 768px) {
   .sherlock__inner {
       justify-content: center;
   }
}

@media only screen and (min-width: 450px) {
    .sherlock__inner {
        flex-direction: row;
    }

    .sherlock__image {
        margin-right: 30px;
        margin-bottom: 0;
    }
 }